/* ESTILOS GLOBAIS
-------------------------------------------------- */

body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #5a5a5a;
}


/*---------------- Configurações------------------------- */

.divisor {
  margin: 5rem 0;
}

h2 {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
  text-align: center;
  padding-bottom: 20px;
  padding-top: 30px;
}

.text {
  text-align: justify;
}

/*------------------Footer------------------------- */

footer{
  text-align: center;
}


/* CSS RESPONSIVE
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Aumenta o tamanho do conteúdo do carousel */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}