<!doctype html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/node_modules/bootstrap/compiler/bootstrap.css"/>

    <link rel="stylesheet" href="/css/estilo.css"/>

    <title>Redivivus - Home</title>
</head>
<body>

<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto ">
                <li class="nav-item active">
                    <a class="nav-link" href="#home">Home<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#quemsomos">Quem Somos<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#projetos">Projetos<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#parceiros">Parceiros<span class="sr-only">(current)</span></a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <div th:if="${mensagem == null}">
                    <li class="nav-item active">
                        <a class="nav-link" href="/login/login">Login<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/cadastro/cadastro">Cadastre-se<span class="sr-only">(current)</span></a>
                    </li>
                </div>
                <div th:if="${mensagem != null}">
                    <li class="nav-item active">
                        <a class="nav-link" href="/login/sair">Sair<span class="sr-only">(current)</span></a>
                    </li>
                </div>
            </ul>
        </div>
    </nav>
</header>

<main role="main" class="bg-secondary text-light">

    <section id="home">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="/img/slide1.jpeg" alt="Fundo 1"/>
                    <div class="container">
                        <div class="carousel-caption text-center">
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="/img/slide2.jpeg" alt="Fundo 1"/>
                    <div class="container">
                        <div class="carousel-caption">
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="/img/slide3.jpeg" alt="Fundo 1"/>
                    <div class="container">
                        <div class="carousel-caption text-center">
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </section>

    <div th:if="${mensagem != null}">
        <div class="alert alert-info" role="alert">
            <span th:text="${mensagem}">mensagem</span>
        </div>
    </div>
    <div class="container marketing">
        <!-- Começo do Quem Somos -->
        <section id="quemsomos">
            <div class="row featurette">
                <div class="col-md-12">
                    <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
                         width="100%" height="200" src="/img/quemsomos.jpeg" alt="Quem Somos"/>
                </div>
                <div class="col-md-12">
                    <h2 class="featurette-heading">Quem Somos</h2>
                    <p class="lead">
                        Uma plataforma conceituada no mercado, em busca de novas soluções ao meio ambiente, a Redvivus
                        entre vários objetivos tem como o seu principal em colaborar com a reciclagem e a limpeza de
                        rios e córregos.
                        Um de nossos pilares para isso chama-se intermédio, através dele realizamos a junção de empresas
                        e ong’s interessadas a participar e usufruir de um projeto grandioso e com propósitos, melhorar
                        a qualidade de vida!
                        Dentro desse grande projeto buscamos reunir as forças e recompensá-los por todo o trabalho
                        realizado, para isso contamos com grandes parceiros que acreditam, confiam e apostam nas nossas
                        idéias e potenciais.
                        Acreditamos fielmente que a união faz a força, e com cada um fazendo a sua parte podemos mudar o
                        mundo, e esse é o nosso grande desafio.
                        Racionalizar e conscientizar as pessoas para nós é tão importante quanto o êxito nos nossos
                        ideais, afinal, uma ONG não é formada apenas por uma instituição, mas sim por pessoas empenhadas
                        em tornar o nosso planeta um lugar melhor e mais agradável para se viver.
                        Essa é a nossa visão, do pequeno tornar algo grandioso, e de pequenas atitudes mudar hábitos, e
                        formar uma nova sociedade engajada em busca de um mundo melhor.
                    </p>
                </div>
            </div>
        </section>
        <!-- Fim do Quem Somos -->

        <hr class="featurette-divider"/>

        <section id="projetos">
            <div class="row featurette">
                <div class="col-md-7 order-md-2">
                    <h2 class="featurette-heading">Projetos</h2>
                    <p class="lead">
                        Dentre nossas diversas ações, em todas elas reunimos voluntários de Ong’s e empresas
                        interessadas no projeto para realizarmos as limpezas de rios e córregos, os cadastros são feitos
                        através de nosso portal, e sempre quando conseguimos localizar os dois pilares, começamos o
                        trabalho!
                        Esse procedimento é realizado periodicamente, seja semanal, mensal ou semestral, dependendo da
                        necessidade do local ou ambiente.
                        Depois de finalizada a primeira etapa do processo, começamos as limpezas dos filtros instalados
                        nas saídas de tubulações e levamos todos os descartes e insumos para a nossa base, esse
                        procedimento é realizado periodicamente, seja semanal, mensal ou semestral, dependendo da
                        necessidade do local ou ambiente.
                        Nessa etapa os voluntários começam a colocar a mão na massa, para realizar a separação do lixo
                        do reciclável, sempre preservando a saúde e higiene de nossos voluntariados.
                        Todo reciclável é vendido, e a ong que realizou o processo de separação é contemplada em 50% do
                        valor arrecadado para uso próprio, os outros 50% são revertidos em ainda mais materiais e
                        estruturas para continuarmos nessa batalha por um meio ambiente ainda melhor.
                    </p>
                </div>
                <div class="col-md-5 order-md-1">
                    <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                         height="500" src="/img/projeto.jpeg" alt="Projetos"/>
                </div>
            </div>
        </section>
        <!-- /END THE FEATURETTES -->

        <hr class="featurette-divider"/>

        <!-- Three columns of text below the carousel -->
        <section id="parceiros">
            <div class="row">
                <div class="col-lg-4">
                    <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="/img/estado.png"
                         alt="Governo do Estado de São Paulo"/>
                    <h2>Governo do estado de São Paulo</h2>
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="/img/sabesp.png"
                         alt="Sabesp"/>
                    <h2>Sabesp</h2>
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="/img/empresa.png"
                         alt="Centerval IND"/>
                    <h3>Centerval Industrial LTDA</h3>
                </div><!-- /.col-lg-4 -->
            </div><!-- /.row -->
        </section>

    </div><!-- /.container -->
</main>

<!-- FOOTER -->
<footer class="footer bg-dark text-light">
    <p>&copy; 2019-2020 Redivivus, Inc.</p>
    <p>
        <a href="/home">Back to top</a>
    </p>
</footer>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="node_modules/jquery/dist/jquery.js"></script>
<script src="node_modules/popper.js/dist/umd/popper.js"></script>
<script src="node_modules/bootstrap/dist/js/bootstrap.js"></script>
</body>
</html>