<!doctype html>
<html lang="pt-br">
<head>
<!-- Required meta tags -->
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="/node_modules/bootstrap/compiler/bootstrap.css"></link>
<link rel="stylesheet" href="/fontawesome/css/all.min.css"></link>
<title>APS - Home</title>
</head>
<body>
	<nav
		class="navbar navbar-fixed-top navbar-expand-lg navbar-dark bg-primary">
		<!-- Começo do navbar-->

		<div class="container">
			<!-- Começo do conteudo do Container do navbar -->
			<a class="navbar-brand h1 mb-0" href="#">APS</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarSite">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSite">

				<ul class="navbar-nav mr-auto">
					<!-- Botões da navegação -->
					<li class="nav-item"><a class="nav-link" href="/home">Home</a>
					</li>
					<li class="nav-item"><a class="nav-link" href="#">Quem
							Somos</a></li>
					<li class="nav-item"><a class="nav-link" href="#">Produtos</a>
					</li>
					<li class="nav-item"><a class="nav-link" href="/planosNegocios/planos">Planos</a>
					</li>
				</ul>
				<!-- Fim dos Botões da navegação-->

				<ul class="navbar-nav ml-auto">
					<!-- Botões do dropdown -->
					<li class="nav-item dropdown"><a
						class="nav-link dropdown-toggle " href="#" data-toggle="dropdown"
						id="navDrop"> <em class="fas fa-user"></em>
					</a>
						<div class="dropdown-menu">
							<a class="dropdown-item" href="#">Registrar</a> <a
								class="dropdown-item" href="#">Logar</a>
						</div></li>
				</ul>
				<!-- Fim dos Botões do dropdown-->

				<form class="form-inline">
					<input class="form-control ml-4 mr-2" type="search"
						placeholder="Buscar..."></input>
					<button class="btn btn-dark " type="submit">OK</button>
				</form>
			</div>
		</div>
		<!-- Começo do conteudo do Container do navbar-->
	</nav>
	<!-- Fim do navbar-->

	<div id="carouselSite" class="carousel slide" data-ride="carousel">
		<!-- imagens carousel -->

		<ol class="carousel-indicators">
			<li data-target="carouselSite" data-slide-to="0" class="active"></li>
			<li data-target="carouselSite" data-slide-to="1"></li>
			<li data-target="carouselSite" data-slide-to="2"></li>
		</ol>

		<div class="carousel-inner">
			<div class="carousel-item active">
				<!-- Imagem 01 do banner-->
				<img alt="" src="img/img1.jpg" class="img-fluid d-block" />

				<div class="carousel-caption d-none d-md-block text-danger">
					<h1>Lorem Ipsum</h1>
					<p class="lead">Lorem Ipsum has been the industry's standard
						dummy text ever since the 1500s, when an unknown printer took a
						galley of type and scrambled it to make a type specimen book.</p>
				</div>

			</div>
			<div class="carousel-item">
				<!-- Imagem 02 do banner-->
				<img alt="" src="img/img2.jpg" class="img-fluid d-block" />

				<div class="carousel-caption d-none d-md-block text-dark">
					<h1>Lorem Ipsum</h1>
					<p class="lead">Lorem Ipsum has been the industry's standard
						dummy text ever since the 1500s, when an unknown printer took a
						galley of type and scrambled it to make a type specimen book.</p>
				</div>

			</div>
			<div class="carousel-item">
				<!-- Imagem 03 do banner-->
				<img alt="" src="img/img3.jpg" class="img-fluid d-block" />

				<div class="carousel-caption d-none d-md-block ">
					<h1>Lorem Ipsum</h1>
					<p class="lead">Lorem Ipsum has been the industry's standard
						dummy text ever since the 1500s, when an unknown printer took a
						galley of type and scrambled it to make a type specimen book.</p>
				</div>

			</div>
		</div>
		<!-- Fim imagens carousel-->

		<a class="carousel-control-prev" href="#carouselSite" role="button"
			data-slide="prev"> <!-- Indetificar de banner com seta--> <span
			class="carousel-control-prev-icon"></span> <span class="sr-only">Anterior</span>
		</a> <a class="carousel-control-next" href="#carouselSite" role="button"
			data-slide="next"> <span class="carousel-control-next-icon"></span>
			<span class="sr-only">Avançar</span>
		</a>
		<!-- Fim do indetificar de banner com seta-->
	</div>


	<div class="container">
		<!-- Conteudo do Site-->
		<div class="row">
			<div class="col-12 text-center my-4">
				<h1 class="display-3">Lorem Ipsum</h1>
				<p>Contrary to popular belief, Lorem Ipsum is not simply random
					text.</p>
			</div>
		</div>

		<div class="row mb-5">

			<div class="col-12 bg-dark text-light">
				<div data-spy="scroll" data-target="#navbarVertical" data-offset="0"
					class="scrollspySite">

					<h4 id="item1">Lorem Ipsum</h4>
					<!--Item 1-->
					<p>Lorem Ipsum is simply dummy text of the printing and
						typesetting industry. Lorem Ipsum has been the industry's standard
						dummy text ever since the 1500s, when an unknown printer took a
						galley of type and scrambled it to make a type specimen book.</p>

					<h5 id="item1-1">The standard</h5>
					<p>t is a long established fact that a reader will be
						distracted by the readable content of a page when looking at its
						layout. The point of using Lorem Ipsum is that it has a
						more-or-less normal distribution of letters, as opposed to using
						'Content here, content here', making it look like readable
						English.</p>

					<h5 id="item1-2">Many desktop</h5>
					<p>t is a long established fact that a reader will be
						distracted by the readable content of a page when looking at its
						layout. The point of using Lorem Ipsum is that it has a
						more-or-less normal distribution of letters, as opposed to using
						'Content here, content here', making it look like readable
						English.</p>

					<h4 id="item2">Contrary to popular</h4>
					<!--Item 2-->
					<p>Lorem Ipsum has been the industry's standard dummy text ever
						since the 1500s, when an unknown printer took a galley of type and
						scrambled it to make a type specimen book. It has survived not
						only five centuries, but also the leap into electronic
						typesetting, remaining essentially unchanged.</p>

					<h4 id="item3">There are</h4>
					<!--Item 3-->
					<p>Lorem Ipsum is simply dummy text of the printing and
						typesetting industry. Lorem Ipsum has been the industry's standard
						dummy text ever since the 1500s, when an unknown printer took a
						galley of type and scrambled it to make a type specimen book.</p>

					<h5 id="item3-1">The standard</h5>
					<p>t is a long established fact that a reader will be
						distracted by the readable content of a page when looking at its
						layout. The point of using Lorem Ipsum is that it has a
						more-or-less normal distribution of letters, as opposed to using
						'Content here, content here', making it look like readable
						English.</p>

					<h5 id="item3-2">Many desktop</h5>
					<p>t is a long established fact that a reader will be
						distracted by the readable content of a page when looking at its
						layout. The point of using Lorem Ipsum is that it has a
						more-or-less normal distribution of letters, as opposed to using
						'Content here, content here', making it look like readable
						English.</p>
				</div>
			</div>
		</div>

		<footer class="pt-4 my-md-5 pt-md-5 border-top">
			<div class="row">
				<div class="col-12 col-md">
					<img class="mb-2" src="/docs/4.4/assets/brand/bootstrap-solid.svg"
						alt="" width="24" height="24"></img> <small
						class="d-block mb-3 text-muted">© 2020-2020</small>
				</div>
				<div class="col-6 col-md">
					<h5>Detalhes</h5>
					<ul class="list-unstyled text-small">
						<li><a class="text-muted" href="#">Detalhes da empresa</a></li>
						<li><a class="text-muted" href="#">Detalhes variados</a></li>
						<li><a class="text-muted" href="#">Detalhes do time</a></li>
					</ul>
				</div>
				<div class="col-6 col-md">
					<h5>Recursos</h5>
					<ul class="list-unstyled text-small">
						<li><a class="text-muted" href="#">Recursos</a></li>
						<li><a class="text-muted" href="#">Recursos nome</a></li>
						<li><a class="text-muted" href="#">Outros recursos</a></li>
						<li><a class="text-muted" href="#">Recursos final</a></li>
					</ul>
				</div>
				<div class="col-6 col-md">
					<h5>Sobre</h5>
					<ul class="list-unstyled text-small">
						<li><a class="text-muted" href="#">Time</a></li>
						<li><a class="text-muted" href="#">Localização</a></li>
						<li><a class="text-muted" href="#">Termos</a></li>
					</ul>
				</div>
			</div>
		</footer>
	</div>
	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="/node_modules/jquery/dist/jquery.js"></script>
	<script src="/node_modules/popper.js/dist/umd/popper.js"></script>
	<script src="/node_modules/bootstrap/dist/js/bootstrap.js"></script>
</body>
</html>